#사용자 정보
MY_EMAIL=your-google-email

#GOOGLE_OAUTH2
GOOGLE_OAUTH2_CLIENT_ID=your-google-oauth2-client-iD
GOOGLE_OAUTH2_CLIENT_SECRET=your-google-oauth2-client-secret
GOOGLE_OAUTH2_CALLBACK_URL=callback-to-/auth/google/

#CORS
CORS=cors를 허용할 URL

#Chzzk 연결 정보
NID_AUT=치지직의 NID_AUT
NID_SES=치지직의 NID_SES

#DB 연결 정보
DB_TYPE=데이터베이스의 타입
DB_HOST=데이터베이스 호스트
DB_PORT=포트
DB_USERNAME=유저네임
DB_PASSWORD=비밀번호
DB_DATABASE=데이터베이스 이름

#MQTT 연결 정보
MQTT_CONNECT_STRING=mqtt url