#사용자 정보
MY_EMAIL=your-google-email

#GOOGLE_OAUTH2
GOOGLE_OAUTH2_CLIENT_ID=your-google-oauth2-client-iD
GOOGLE_OAUTH2_CLIENT_SECRET=your-google-oauth2-client-secret
GOOGLE_OAUTH2_CALLBACK_URL=callback-to-/auth/google/
