#사용자 정보
ALLOWED_EMAILS=testing@test.test

#GOOGLE_OAUTH2
GOOGLE_OAUTH2_CLIENT_ID=MY_CLIENT_OAUTH2_ID
GOOGLE_OAUTH2_CLIENT_SECRET=SECRET
GOOGLE_OAUTH2_CALLBACK_URL=http://localhost:8000/auth/google

#PORT
PORT=8000

#CORS
CORS=http://localhost:3000

#Chzzk 연결 정보
NID_AUT=your_nid_aut
NID_SES=your_nid_ses

#이미지를 저장할 사이즈
IMAGE_SIZES=100,200,300

#DB 연결 정보
DB_TYPE=db
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=chzzk_notification

#MQTT 연결 정보
MQTT_URL=mqtt://localhost
MQTT_BASE_TOPIC=chzzk-notification

#Youtube api key
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY